@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* font-family: "Open Sans", sans-serif; */

.open-sans-uniquifier{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
 }
 .text-center{
    text-align: center;
 }

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
    
}
.nav-title{
    font-weight: 800px;
    font-size: 45px;

}
.text-primary{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    font-size: 20px;

}
nav ul li a {
    text-decoration: none;
    margin-right: 51px;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin:0px 35px 0px 200px ;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600px;
}
.banner-title{
    font-weight: bold;
    font-size:85px ;
}
.banner-descripation{
    font-size: 18px;
    font-weight: 400px;
}
.banner-image{
    width: 584px;

}
.banner-contant{
    max-width: 580px;
}
.header{
    background-image: url(developer.png) ,url(header_bg.png);
    background-repeat:no-repeat;
    background-position: top left, bottom right;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-descripation{
        font-size: 18px;
        color: #757575;
}
.secondary-bg{
    background-color: #FFF8F3;
}
/* main */
main{
    max-width: 1140px;
    margin: 0px auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    /* margin-top: 130px; */

}
.about-itmes{
    display: flex;
    justify-content: space-around;
}
.item-descripation{
    font-weight: 600px;
}

/* 2nd Section */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* 3rd section */
.resume-container{
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap
}
.resume-colum{
    width: 48%;
}
.section-title{
    display: flex;
    justify-content: center;
}
.experiance-descripation{
    color: #757575;
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 20px;
}
.experiance-sub-title{
    color: #757575;
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 20px;
}
.experience-titile{
    color: #757575;
}
hr{
   margin-top: 30px 5px; 
}
.btn-download-cv{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;

}
/* 4th Section */
.footers{
    display: flex;
    gap: 40px;
    background-color: #FFF8F3;
    padding: 200px;
    display: ;
}
.footer-title{
    display: flex;
    justify-content: flex-start;
   
}
.footer-descripation{
    font-size: 16px;
    font-weight: 400px;
}
.footer-submit-btn{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;

background: rgb(253, 110, 10);
}
footer input[type="text"],footer input[type="email"], footer textarea{
    
    background-color: white;
    border-radius: 5px;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;

}
.textarea-message{
    width: 200px;
    height: 100px;
}
footer input[type="text"],footer input[type="email"]{
 width: 100%;
 height: 30px;
}